@import url(/components/style/reset.css);
@import url(/components/style/navbar.css);
@import url(/components/style/decor.css);

body{
    background-color: var(--background);
    font-family: var(--font);
    font-size: var(--text-size);
    color: var(--white);
    overflow: hidden;
}

.title{
    vertical-align: middle;
    text-align: left;
    margin-top: 15rem;
    margin-bottom: 2rem;
}

.btn{
    background-color: var(--blue);
    margin-top: 2rem;
    padding: 1rem 2rem 1rem 2rem;
    gap: 0.5rem; 
}

.btn a {
    text-decoration: none;
    color: var(--white);
}

.btn:hover{
    background-color: var(--blue);
    opacity: 90%;
}

.container{
    width: 100%;
}

.covers{
    width: 300px;
    height: fit-content;
    margin-top: 5rem;
    margin-left: 10rem;
    z-index: 2;
    /* position: relative; */
}

.square{
    background-color: var(--black);
    padding-top: 2rem;
    width: 8rem;
    margin-right: 2rem;
}

.header{
    font-size: var(--title-size);
    letter-spacing: 0.2rem;
}

.card{
    background-color: var(--black);
    margin-right: 5rem;
    margin-top: 2rem;
    vertical-align: middle;
}

.form-group input{
    background-color: transparent;
    border-color: var(--blue);
    font-size: var(--nav-size);
    line-height: 1.5rem;
    color: var(--white);
}

.form-group label{
    font-size: var(--text-size);
}

.join{
    font-size: var(--title-size);
    font-weight: bolder;
    margin-top: 13rem;
}

.fun{
    font-size: 4rem;
    font-weight: bolder;
    margin-top: 12rem;
    color: var(--purple);
}